*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'MyFont';
    src: url('./asset/Montserrat-Regular.ttf') format('truetype'),
}
html{
    background-color: #1E2022;
    font-family: 'MyFont';
}
h1{
    font-size: 2rem;
    color: #FC5185;
}
#container{
    display: flex;
}

        /* modal */

#modal{
    position: fixed;
    top: 31%;
    transform: translate(3%) scale(0);
    transition: 200ms ease-in-out;
    /* border: solid 1px black; */
    border-radius: 10px;
    z-index: 10;
    margin: 5px 3px;
    width: 100%;
    max-width: 50%;
    height: 58px;
}
#modal.active{
    transform: translate(3%) scale(1);
    opacity: 1;
    pointer-events: all;
}

.modal-body{
    display: flex;
    padding: 7px 10px ;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    pointer-events: none;
    opacity: 0;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}
.open-form-modal{
    margin-top: 50px ;
    width: 120px;
    font-size: 1.25rem;
    color: #F9ED69;
    cursor: pointer;
    border: none;
    background: none;
}

.name-input{
    margin: 2px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    background-color:#FFE6E6;
    color:#1E2022 ;
        border: none;
}

.date-input{
    margin: 2px; 
    height: 30px;
    border-radius: 10px;
    background-color:#FFE6E6;
    cursor: pointer;
    color: #212121 ;
        border: none;
}

.priority-input{
    margin: 2px;
    height: 30px;
    border-radius: 10px;
    background-color:#FFE6E6;
    cursor: pointer;
        border: none;
}

.form-btn{
    margin: 2px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FFE6E6;
    border: none;
}

.form-btn:hover{
    background-color: #323232;
    color: #E23E57;
    border: none;
}

       /* left side */


#left-side{
   max-width: 25%;
   margin: 20px 25% 0 3% ;
}

.tab-section{
    margin-top: 20px;
    margin-bottom: 100px;
}

.tab-section > li{
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
    color: #F4CE14;
    list-style: none;
    cursor: pointer;
}

.tab-section > li:hover{
    color: #F9ED69;
}

.project-section{
    color: #FC5185;
    font-size: 2rem;
}

.add-project-btn{
    width: 100px;
    font-size: 1.5rem;
    color: #F9ED69;
    cursor: pointer;
    border: none;
    background: none;
}

         /* right side  */
         
#right-side{
 margin-top: 20px;
 max-width: 60%;
}
  

.right-side-container > hr{ 
    max-width: 100%;    
    border-color: #EB5B00;
}
.current-tab{
    font-size: 1.75rem;
    margin-bottom: 25px;
    color: #F4CE14;
}
.current-task{
    color: #EB5B00;
    font-weight: bold;
    font-size: 1.25rem;
}
.current-tab-div{
    display: flex;
    gap: 5px;
}







